button{
    height:30px;
    margin:10px;
    width:150px;
    border-radius:12px;
    font-weight: bold;
}
.css_back_button{
    color:SteelBlue
}
.css_back_button:hover{
    color:white;
    background-color:SteelBlue;
}
.css_delete_button{
    color:white;
    background-color:red;

}
.css_delete_button:hover{
    color:red;
    background-color:white;

}
.css_submit_button{
    color:green
}
.css_submit_button:hover{
    color:white;
    background-color:green
}
button.css_add_category{
    color:purple;
}
button.css_add_category:hover{
    color:white;
    background-color:darkmagenta 
}
button.css_add_expense{
    color:blue
}
button.css_add_expense:hover{
    color:white;
    background-color: blue;
}
button.css_edit_category{
    color:darkorchid;
    border:3px dashed black;
}
button.css_edit_category:hover{
    color:white;
    background-color: darkorchid;
}
button.small{
    width:40px;
}
button.css_expense_detail{
    color:green;
}
button.css_expense_detail:hover{
    color:white;
    background-color:green;
}
