button{
    height:30px;
    margin:10px;
    width:150px;
    border-radius:12px;
    font-weight: bold;
}
.css_back_button{
    color:red;
}
.css_back_button:hover{
    color:white;
    background-color:red;
}
.css_submit_button{
    color:green
}
.css_submit_button:hover{
    color:white;
    background-color:green
}
button.css_add_expense{
    color:blue
}
button.css_add_expense:hover{
    color:white;
    background-color: blue;
}
button.css_expense_detail{
    color:green;
}
button.css_expense_detail:hover{
    color:white;
    background-color:green;
}