table{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  border-radius: 25px 10px;
  border:1px solid black;
  padding:10px;
}
  th {
  border-bottom:1px solid black;
  border-left:1px solid grey;
  margin:50px;
}
th,td{
  padding-left:5px;
}
section{
  margin-bottom:30px;
}
section.category {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section.category:nth-child(even) {
  background-color: #ddd;
}


section.category.active-category{
  background-color: whitesmoke;
  font-size:18px;
}
