.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav h1 {
    color:white;
    float:left;
    text-align:center;
    padding:20px;
    margin-left:20px;
}
.css-auth a {
    float:right;
    text-align:center;
    padding:20px;
    margin-top:40px;
    margin-right:20px;
    color:rgb(204,255,210);
    text-decoration:none;
}
.css-auth a:hover{
    background-color:white;
    color:black;
}
