nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-weight:bold
}

body {
  font-family: "Open Sans",sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}
header{
 padding-top: 20px;
}
section{
  margin-bottom:30px;
}
section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}
.css-landing-page li{
  list-style:none;
}
